/** 
*
* Main CSS for styling web page
* Use this main.css for styling this website
*
*/

@font-face {
  font-family: 'Roboto Thin';
  src: url('../asset/font/Roboto-Thin.ttf');
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('../asset/font/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Light';
  src: url('../asset/font/Roboto-Light.ttf');
}

/* Import font */
.roboto-thin {
  font-family: 'Roboto Thin';
}
.roboto-regular {
  font-family: 'Roboto Regular';
}
.roboto-light {
  font-family: 'Roboto Light';
}

.bg-blur {
    /* The image used */
    background-image: "rumah_sakit.jpg";
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.navbar-brand { 
    color: aliceblue;
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }


/* styling login and register page */
.wrapper {
  background-color: #2E3192;
  /* width: 100%; */
  margin: 2% auto;
  padding-top: 50px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: #ffffff;
}
.logo {
  max-width: 300px;
  display: block;
  margin:10% auto;
}
/* END login register */

/**
*  Helper 
*  this css for helper like create background color or another
*/
.bg-midblue {
  background-color: #2E3192;
}
.text-softblack {
  color: #5e5e5e;
}
.text-otherblue {
  color: #466C84 !important;
}
.border-rounded-md {
  border-radius: 10px;
}
.h-m100 {
  min-height: 100px;
}
.bg-whatever {
  background-color: #F0F4F7;
}
.bg-white {
  background-color: #ffffff;
}
.bg-smoke {
  background-color: #F5F5F5;
}
.border-softblue {
  border: 1px solid #d2e8f8;
}
.logo-small {
  width: 32px;
}

/**
/ Styling User page
*/
.form-title {
  font-size: 16pt;
  font-family: 'Roboto Light';
}
.email-icon {
  max-width: 300px;
}
.error {
  display: block;
  margin:auto;
  overflow: hidden;
  position: relative;
  height: 247px;
  width: 400px;
}
.error-bg {
  max-width: 400px;
  position: absolute;
  left: 0;
}
.error-character {
  max-width: 300px;
  position: absolute;
  left: 45px;
  bottom: 0;
  animation: fly .5s ease infinite;
  animation-direction: alternate-reverse;
}

@keyframes fly {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 20px;
  }
}

/* Sign and login style */
.register-form {
    width: 340px;
    margin: 50px auto;
}
.register-form form {
    margin-bottom: 15px;
    background: #ffffff;
    border: 1px solid #f7f7f7;
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
    padding: 30px;
}
.register-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}


